.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    height: 150vh;
    width: 80%;
    margin-bottom: 50px;
}

.grid__main1 {
    grid-area: 1 / 1 / 5 / 9;
}

.grid__main2 {
    grid-area: 5 / 1 / 11 / 9;
    background-color: rgb(99, 99, 192);
}

.main1__card1 {
    grid-area: 1 / 1 / 5 / 3;
}

.main1__card2 {
    grid-area: 1 / 3 / 5 /5;
}

.main1__card3 {
    grid-area: 1 / 5 / 5 / 7;
}

.main1__card4 {
    grid-area: 1 / 7 / 5 /9;
}

.img_card {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 50px #64d810;
}

.img_card:hover {
    border: 10px solid #64d810;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    transform: scaleX(1.1);
}